$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#navbar{
	.navbar-brand{
		padding:4px 20px;
	}
	.nav-buttons{
		float:right;
		margin-left:20px;
	}
	#language-selector{
		li{
			size:0.9;
		}
	}
		
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.modal-header{
	background-color:$gray-lighter;
}
#login-modal{
	.modal-dialog{
		width:300px;
	}
}

#main-container{
	height:100%;
	
	#sidebar{
        .well{
            padding:9px 19px;
            margin-top:25px;
        }
/*
		width:250px;
		position:relative;
		float:left;
		margin:20px 0;
*/
		.nav-list{
			.nav-list{
				margin-left:20px;
			}
		}
		
	}
	#main-content{
/*
		margin-left:250px;
		position:static;
		padding:20px;
*/  
        h1{
            margin-bottom:5px;
        }
		.list-item{
            h2{
                font-weight:bold;
                font-size:1.2em;
            }
			border-top:1px solid $gray-lighter;
			img{
				float:left;
				height:200px;
			}
            .num-loto{
                font-weight:bold;
            }
            .list-item-right{
                float:right;
                padding:10px;
                height:180px;
                text-align:right;
                .btn{
                    margin-top:10px;
                    width:100px;
                }
                .price{
                    text-align:right;
                    font-size:1.5em;
                    color:$brand-danger;
                    font-weight:bold;
                }
            }
		}
        .list-item:hover{
            background-color:$gray-lighter;
        }
	}
}
#footer{
	margin-top:30px;
	text-align:center;
	border-top:1px solid $gray-lighter;
	padding:5px 0;
	ul{
		margin:0;
	}
}
