$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
@import "vendor/fancybox.css";


@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
* {
  -webkit-border-radius: 0;
  -moz-border-radius: 0 ;
  border-radius: 0 ;
}
*/

$hover-primary: #345478;
a{
  cursor:pointer;
  text-decoration:none;
}

.container{
	border-left:1px solid $gray-light;
	border-right:1px solid $gray-light;
}
.main{
	padding-bottom:30px;
}

table tr:last-child td{
   border-bottom: 2px solid #ddd;
}

/*
.translate{
	visibility:hidden;
}
*/

.clear{
	clear:both;
	display:block;
	float:none !important;
}

.first{
  padding-left:0;
  margin-left:0;
}
.last{
  padding-right:0;
  margin-right:0;
}
	

#header{
	padding:10px 0 2px;
	.brand{
		float:left;
		span{
			font-size: 1.3em;
			line-height: 1.1em;
			display:block;
			padding-left:5px;
		}
	}
	.center{
		margin-top:40px;
		.navbar-form{
			width:100%;
		}
		form{
			clear:both;
			.form-group {
				width:100%;
			}
			.input-group{
				width:100%;
			}
			.input-group-btn{
				width:1%;
			}
			input{
				width:100%;
			}
		}
	}
	.right{
		text-align:right;
		padding-right:25px;
		.user-area{
			margin-bottom: 5px;
			border:1px solid $gray-light;
			padding:8px 20px 0 20px;
			text-align:center;
			span{
				font-size:0.85em;
				float: left;
			}
			button, a.btn{
				clear:left;
				float:right;
				margin-right:5px;
                margin-top: 0px;
				padding:3px 12px;
				width:47%;
			}
			
		}
		.seller{
			button, a.btn{
				width:80%;
				float:none;
			}
		}
		
	}
}
#little-search{
	.little-search-col{
		padding-left:0;
	}
	.navbar-form{
		width:100%;
		padding-left:0;
	}
	form{
		clear:both;
		.form-group {
			width:100%;
		}
		.input-group{
			width:100%;
		}
		.input-group-btn{
			width:1%;
		}
	}
}
#menu{
	background-color: $brand-primary;
	border:1px solid $gray;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	ul{
		width:100%;
		
		li.master{
			width: 15%;
			text-align:center;
			white-space:nowrap;
			
			a{
				color:white;
				padding:12px 15px;
			}
		}
		li.home{
			width:10%;
		}
		.dropdown-menu, .dropdown-toggle a{
			background-color: $brand-primary;
		}
		li a:hover, li a:focus, .active, .open .dropdown-toggle{
			background-color: $hover-primary;
		}
        .dropdown:hover .dropdown-menu-primary {
            display: block;
        }
	}
	
	
	
	
	
	
	
	
	.dropdown-submenu {
		position: relative;
        ul{
            width:205px;
        }
	}

	.dropdown-submenu>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
	}

	.dropdown-submenu:hover>.dropdown-menu {
		display: block;
	}

	.dropdown-submenu>a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
        
	}

	.dropdown-submenu:hover>a:after {
		border-left-color: #fff;
	}

/*
	.dropdown-submenu.pull-left {
		float: none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu {
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
	}
*/
	
	
	
	
	
	
	
	
	
	
	
	
	
} 

.nav-buttons{
	float:right;
	margin-left:20px;
}
#language-selector{
	li{
		font-size:0.9em;
	}
}
		

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.modal-header{
	background-color:$gray-lighter;
}
#login-modal{
	.modal-dialog{
		width:300px;
	}
}

#main-container{
	height:100%;
	
	#sidebar{
		margin:0;
		padding:0;
        .module{
			width:100%;
			
			border:1px solid $gray-light;
			margin:65px 0 0 7px;
			.well{
				padding:9px 19px;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				font-size: 1.1em;
				font-weight: bold;
			}
      .category-label{
        color:$gray-dark;
        text-decoration:none;
      }
			.parent{
				margin:10px;
				font-size:1.1em;
			}
			.tree{
				display:none;
				li{
					a{
						font-size:0.8em;
						padding:10px 2px;
						font-weight:bold;
					}
				}
			}
			li label{
				cursor:pointer;
			}
        }
/*
		width:250px;
		position:relative;
		float:left;
		margin:20px 0;
*/
		.nav-list{
			.nav-list{
				margin-left:0px;
			}
		}
		
	}
	#main-content{
/*
		margin-left:250px;
		position:static;
		padding:20px;
*/  
        h1{
            margin-bottom:5px;
        }
        .work-area{
            border:1px solid $gray-light;
            margin:5px 0;
            padding:10px;
            h2{
                font-size:1.5em;
                color:$brand-primary;
                clear:left;
            }
            .c2{
              width:50%;
              float:left;
              padding:5px;
            }
            button{
              float:right;
              margin-left:5px;
              
            }
            #user-tab li{
              cursor:pointer;
            }
            #fiscal{
              .retire{
                padding-top:20px;
                border-left:1px solid $gray-lighter;
              }
            }
            #lotto{
              table{
                .label{
                  display:block;
                  line-height:14px;
                }
                div{
                  display:none;
                  
                  
                  span{
                    display:block;
                    border-top:1px solid $gray-lighter;
           
                  }
                }
                a{
                  display:block;
                  width:100px;
                }
              }
            }
            #rating{
              .rating-info{
                margin-top:20px;
                line-height:26px;
              }
            }
            
                
        }
        .contact{
          .fa{
            font-size:126px;
            margin:50px 100px 0 0;
          }
        }
        .rating{
          button{
            margin:5px 0;
          }
          i{
              font-size: 1.5em;
              color:$brand-warning;
          }
          textarea{width:100%}
        }
        .draw{
          .status{
            .panel-body{
              text-align:center;
              font-size:2em;
              .spin{
                -webkit-animation: infinite-spinning 5s infinite; /* Safari 4+ */
                -moz-animation:    infinite-spinning 5s infinite; /* Fx 5+ */
                -o-animation:      infinite-spinning 5s infinite; /* Opera 12+ */
                animation:         infinite-spinning 5s infinite; /* IE 10+, Fx 29+ */
              }
            }
          }
          .user-rewarded{
            i{
              font-size:71px;
            }
          }
          .info{
            font-size:0.9em;
            span{
              font-weight:bold;
            }
          }
          .thumbsshell {
            width:400px;
            padding:10px;
            .thumbswrapper {
              margin:20px auto;
              width:394px;
              height:60px;
              .thumbnail {
                height:50px;
              }
            }
          }
          
        }
        .ballots{
          .grid-ballots{
            table{
              width:100%;
              td{
                width:4%;
                text-align:center;
                border:1px solid $gray-light;
                cursor:pointer;
                padding:8px 0;
              }
              .selected, .selected:hover{
                background-color:$brand-success;
              }
              .assigned, .assigned:hover{
                background-color:$brand-danger;
              }
              td:hover{
                background-color:$gray-lighter;
              }
              
              
            }
            
          }
          .info{
            padding-left:8px;
            border-left:1px solid $gray-lighter;
            border-right:1px solid $gray-lighter;
            font-size:0.9em;
            span{
              font-weight:bold;
            }
          }
          .thumbsshell {
            .thumbswrapper {
              height:120px;
              .thumbnail {
                height:120px;
              }
            }
          }
            
        }
        .ballots, .draw{
          .image-area{
            border-left:1px solid $gray-lighter;
            ul{
                padding:0;
                margin:0;
                white-space:nowrap;
                li {
                    list-style:none;
                    display:inline-block;
                }
            }
            .mainimageshell {
                float:left;
                width:400px;
                padding:10px;
                .viewwindow {
                    width:400px;
                    height:400px;
                    overflow: hidden;
                    position:relative;
                    .fullsizelist{
                        position:absolute;
                        top:0;
                        left:0;
                        transition:  left .8s ease;
                        -ms-transition:  left .8s ease;
                        -o-transition:  left .8s ease;
                        -webkit-transition:  left .8s ease;
                        -moz-transition:  left .8s ease;
                        .large {
                            width:405px;
                        }
                    }

                }
            }

            .thumbsshell {
                
                border-radius:8px;
                float:left;
                .thumbswrapper {
                    overflow: hidden;
                    float:left;
                    .thumbnail {
                        padding:2px;
                    }
                }
            }
        }
      }
        
		.list-item{
      h2{
          font-weight:bold;
          font-size:1.4em;
      }
			border:1px solid $gray-light;
			margin:5px 0;
			img{
				float:left;
				height:200px;
			}
      .num-loto, .lotto-data{
          font-weight:bold;
          font-size:1.1em;
          .progress-row{
            margin-top:12px;
            span{
              padding-right:8px;
            }
          }
      }
      .list-item-right{
          float:right;
          padding:10px;
          height:180px;
          text-align:right;
          .btn{
              margin-top:10px;
              width:100px;
          }
          .price{
              text-align:right;
              font-size:1.5em;
              color:$brand-danger;
              font-weight:bold;
              span{
                font-size:0.4em;
              }
          }
      }
      .list-item-right-large{
          .btn{
              width:200px;
          }
      }
    }
        .list-item:hover{
            background-color:$gray-lighter;
        }
	}
}
#footer{
	background-color:$gray;
	text-align:center;
	a{
		color:$gray-light;
	}
	padding:40px 0;
	ul{
		margin:0;
	}
}


