<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="wwwApp" ng-controller="MuskcoCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    
    
	 <div id="header" class="container" >
		 <div class="row">
			 <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4 brand">
				<a  href="/"><img src="images/logo.png"></a>
				<span>La web donde sorteas tus productos y consigues mucho más!</span>
			 </div>
			 <div class="hidden-xs hidden-sm col-md-4 col-lg-5">
				 <ul class="nav navbar-nav navbar-right">
					
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> <span id="language-label"> Idioma : ES </span><span class="caret"></span></a>
					  <ul id="language-selector" class="dropdown-menu" role="menu" >
						<li><a href="#" ng-click="changeLanguage('es')" ><span class="glyphicon glyphicon-ok"></span> ES</a></li>
						<li class="divider"></li>
						<li><a href="#" ng-click="changeLanguage('en')" >EN</a></li>
						<li><a href="#" ng-click="changeLanguage('fr')" >FR</a></li>
						<li><a href="#" ng-click="changeLanguage('de')" >DE</a></li>
						<li><a href="#" ng-click="changeLanguage('pt')" >PT</a></li>
						
					  </ul>
					<li class="divider"></li>
					</li>
				  </ul>
				
				 <form class="hidden-xs hidden-sm  navbar-form navbar-right" role="search">
					<div class="form-group">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Search">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						  </span>
						</div>
					</div>
				  </form>
				
			</div>
			<div class="col-xs-6 col-sm-7 col-md-4 col-lg-3 right">  
				<ul class="hidden-md hidden-lg nav navbar-nav">
					
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> <span id="language-label"> Idioma : ES </span><span class="caret"></span></a>
					  <ul id="language-selector" class="dropdown-menu" role="menu" >
						<li><a href="#" ng-click="changeLanguage('es')" ><span class="glyphicon glyphicon-ok"></span> ES</a></li>
						<li class="divider"></li>
						<li><a href="#" ng-click="changeLanguage('en')" >EN</a></li>
						<li><a href="#" ng-click="changeLanguage('fr')" >FR</a></li>
						<li><a href="#" ng-click="changeLanguage('de')" >DE</a></li>
						<li><a href="#" ng-click="changeLanguage('it')" >IT</a></li>
						
					  </ul>
					<li class="divider"></li>
					</li>
				  </ul>
				<div id="user-area">
					<button type="button" class="btn btn-info navbar-btn translate">{{ 'SIGN_UP' | translate }}</button>
					<button type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-primary navbar-btn translate">{{ "SIGN_IN" | translate }}</button>
				</div>
				<button type="button" class="btn btn-warning navbar-btn">Vende tu producto</button>
			</div>	  
		</div>
	</div>
	
	<div id="little-search" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 hidden-md hidden-lg little-search-col">
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Search">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						  </span>
						</div>
					</div>
				  </form>
			</div>
		</div>
	</div>
				
	 <div id="menu" class="container">
		 <ul class="nav navbar-nav">
			<li class="master"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="master"><a href="#">Quiénes somos</a></li>
			<li class="dropdown master">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"></span> Categorias <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" >
					
				   <li class="dropdown-submenu">
					  <a href="#">Electrónica</a>
					  <ul class="dropdown-menu">
						<li><a href="#">Móviles</a></li>
							<li><a href="#">Tablets</a></li>
							<li><a href="#">Portátiles</a></li>
							<li><a href="#">Ordenadores de sobremesa</a></li>
							<li><a href="#">Cámaras Fotográficas</a></li>
							<li><a href="#">Consolas</a></li>
							<li><a href="#">Consolas mini</a></li>
					  </ul>
				    </li>
					<li class="dropdown-submenu"><a href="#">Electrodomésticos</a>
					  <ul class="dropdown-menu">
						  <li><a href="#">Televisores</a></li>
						  <li><a href="#">Blu-Ray</a></li>
					  </ul>
					</li>
					<li class="dropdown-submenu"><a href="#">Moda</a>
					  <ul class="dropdown-menu">
						  <li><a href="#">Zapatos</a></li>
						  <li><a href="#">Deportivas</a></li>
					  </ul>
					</li>
					<li class="dropdown-submenu"><a href="#">Viajes</a>
					  <ul class="dropdown-menu">
						  <li><a href="#">Paquete Fin de Semana</a></li>
						  <li><a href="#">Paquete 5 días</a></li>
						  <li><a href="#">Paquete 10 días</a></li>
					  </ul>
					</li>
					<li class="dropdown-submenu"><a href="#">Vehículos</a>
					  <ul class="dropdown-menu">
						  <li><a href="#">Motos</a></li>
							<li><a href="#">Bicicletas</a></li>
					  </ul>
					</li>
					<li><a href="#">Entradas</a></li>
					<li class="dropdown-submenu"><a href="#">Complementos</a>
					  <ul class="dropdown-menu">
						  <li><a href="#">Bolsos</a></li>
							<li><a href="#">Perfumes</a></li>
							<li><a href="#">Relojes</a></li>
							<li><a href="#">Joyas</a></li>
					  </ul>
					</li>
					
				</ul>
			</li>
			<li class="master"><a href="#">Sorteos</a></li>
			<li class="master"><a href="#">Contacto</a></li>
			</li>
		  </ul>
	 </div>
	 
    
    <div class="container main">
      
      <div id='main-container' class="row">
		<div id="sidebar" class="hidden-xs hidden-sm col-md-2">
			<div class="module">
				<div class="well"><span class="glyphicon glyphicon-th-list"></span> Categorias</div>
				<ul class="nav nav-list parent">
					<li><label class="tree-toggler nav-header">Electrónica</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Móviles</a></li>
							<li><a href="#">Tablets</a></li>
							<li><a href="#">Portátiles</a></li>
							<li><a href="#">Ordenadores de sobremesa</a></li>
							<li><a href="#">Cámaras Fotográficas</a></li>
							<li><a href="#">Consolas</a></li>
							<li><a href="#">Consolas mini</a></li>
						</ul>
					</li>
					<li><label class="tree-toggler nav-header">Electrodomésticos</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Televisores</a></li>
							<li><a href="#">Blu-Ray</a></li>
						</ul>
					</li>
					<li><label class="tree-toggler nav-header">Moda</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Zapatos</a></li>
							<li><a href="#">Deportivas</a></li>
						</ul>
					</li>
					<li><label class="tree-toggler nav-header">Viajes</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Paquete Fin de Semana</a></li>
							<li><a href="#">Paquete 5 días</a></li>
							<li><a href="#">Paquete 10 días</a></li>
						</ul>
					</li>
					<li><label class="tree-toggler nav-header">Vehículos</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Motos</a></li>
							<li><a href="#">Bicicletas</a></li>
						</ul>
					</li>
					<li><label class="tree-toggler nav-header">Entradas</label></li>
					<li><label class="tree-toggler nav-header">Complementos</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Bolsos</a></li>
							<li><a href="#">Perfumes</a></li>
							<li><a href="#">Relojes</a></li>
							<li><a href="#">Joyas</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div id="main-content" class="col-sm-12 col-md-10">
			<div ng-view=""></div>
		</div>
      </div>	
    </div>  

  <div id="footer" class="footer container">
	<ul class="list-inline">
		<li><a href="#">Terminos y condiciones</a></li>
		<li>|</li>
		<li><a href="#">Aviso Legal</a></li>
		<li>|</li>
		<li><a href="#" class="btn-social btn-outline"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="btn-social btn-outline"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="btn-social btn-outline"><i class="fa fa-google-plus"></i></a></li>
	</ul>
  </div>
    
    
    
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="login-label"><span class="glyphicon glyphicon-user"></span> Iniciar sesión</h4>
		  </div>
		  <div class="modal-body">
                <fieldset>
                  <div class="form-group">
                    
                    <div class="col-lg-12">
						<div class="left-inner-addon ">
							<span class="glyphicon glyphicon-user"></span>
							<input type="text" class="form-control" id="username" placeholder="usuario">
						</div>
                    </div>
                  </div>
                  <div class="form-group">
                    
                    <div class="col-lg-12">
						<div class="left-inner-addon ">
							<span class="glyphicon glyphicon-lock"></span>
							<input type="text" class="form-control" id="password" placeholder="contraseña">
						</div>
                      
                    </div>
                  </div>
                  
                </fieldset>
              </form>
              <button type="button" class="btn btn-link" id="btn_reset">¿Has olvidado la contraseña?</button>
              <button type="button" class="btn btn-link" id="btn_reset">Regístrate</button>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary" id="btn_login">Iniciar sesión</button>
		  </div>
		</div>
	  </div>
	</div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/muskco.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
