<h1> Próximos sorteos </h1>

<div class="row list-item" ng-repeat="i in [1, 2, 3, 4, 5]">
  <a href="#"><img src="images/equipment/test.png"></a>
  <div class="list-item-right"> 
      <div class="price"> 349€</div>
      <div><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Detalle</button></div>
      <div><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-time"></span> Sorteos</button></div>
  </div>

  <h2>Iphone 5</h2>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div>Sorteos:<span class="num-loto">12</span></div>
  
  
</div>
