<h1 > {{ "Detalle de Equipo - Sorteo" | translate }}</h1>

<div class="work-area product">
  <fieldset>
    <div class="row">
      <div class="form-group col-md-6 col-sm-6" ng-class="{'has-error has-feedback': error['category']}">
        <label for="category">{{ "Categoría" | translate }}</label>
        <select class="form-control" id="category"  ng-model="product.category" ng-options="category.id as category.title for category in categories" > </select>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['country']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-6" ng-class="{'has-error has-feedback': error['subcategory']}">
        <label for="subcategory">{{ "Subcategoria" | translate }}</label>
        <select class="form-control" id="subcategory"  ng-model="product.subcategory" ng-options="subcategory.id as subcategory.title for subcategory in subcategories[product.category]"></select>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['province']"></span>
      </div>
      <div class="form-group col-md-6  col-sm-6" >
        <label for="state">{{ "Estado" | translate }}</label>
        <input type="text" class="form-control" id="state" ng-disabled="!admin_mode" ng-model="product.state"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['id_product']}">
        <label for="id_product">{{ "Código equipo" | translate }}</label>
        <input type="text" class="form-control" id="id_product" ng-disabled="!admin_mode" ng-model="product.id_product"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['province']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['title']}">
        <label for="title">{{ "Título" | translate }}</label>
        <input type="text" class="form-control" id="title" placeholder='{{ "Introduzca titulo" | translate }}' ng-model="product.title"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['title']"></span>
      </div>
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['min_price']}">
        <label for="min_price">{{ "Precio mínimo" | translate }}</label>
        <input type="text" class="form-control" id="min_price" placeholder='{{ "Introduzca precio mínimo" | translate }}' ng-model="product.min_price"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['min_price']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" ng-class="{'has-error has-feedback': error['short_description']}">
        <label for="title">{{ "Descripción corta" | translate }}</label>
        <input type="text" class="form-control" id="short_description" placeholder='{{ "Introduzca descripción corta" | translate }}' ng-model="product.short_description"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['short_description']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12" ng-class="{'has-error has-feedback': error['description']}">
        <label for="title">{{ "Descripción" | translate }}</label>
        <textarea class="form-control" id="description" placeholder='{{ "Introduzca descripción" | translate }}' ng-model="product.description"></textarea>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['short_description']"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <label>{{ "Imagenes" | translate }}</label>
        <input type="file" nv-file-select uploader="uploader" multiple/>
        <table class="table">
          <thead>
            <tr>
              <th width="50%">{{ "Nombre" || translate }}</th>
              <th ng-show="uploader.isHTML5">{{ "Tamaño" || translate }}</th>
              <th ng-show="uploader.isHTML5">{{ "Progreso" || translate }}</th>
              <th>{{ "Estado" || translate }}</th>
              <th>{{ "Acciones" || translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td>
                <strong>{{ item.file.name }}</strong>
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
              </td>
              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
              </td>
              <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
              </td>
              <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <label>{{ "Información a completar por el Administrador:" | translate }}</label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['id_product']}">
        <label for="id_product">{{ "Código equipo" | translate }}</label>
        <input type="text" class="form-control" id="id_product" ng-disabled="!admin_mode" ng-model="product.id_product"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['province']"></span>
      </div>
      <div class="form-group col-md-6  col-sm-6" >
        <label for="state">{{ "Fecha sorteo" | translate }}</label>
        <input type="text" class="form-control" id="date" ng-disabled="!admin_mode" ng-model="product.date"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['date']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['type']}">
        <label for="type">{{ "Tipo sorteo" | translate }}</label>
        <select class="form-control" id="type" ng-disabled="!admin_mode" ng-model="product.type"></select>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['type']"></span>
      </div>
      <div class="form-group col-md-6  col-sm-6" >
        <label for="hour">{{ "Hora sorteo" | translate }}</label>
        <input type="text" class="form-control" id="hour" ng-disabled="!admin_mode" ng-model="product.hour"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['hour']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['ballots']}">
        <label for="ballots">{{ "Nº Total papeletas" | translate }}</label>
        <input type="text" class="form-control" id="ballots" ng-disabled="!admin_mode" ng-model="product.ballots"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['ballots']"></span>
      </div>
      <div class="form-group col-md-6  col-sm-6" >
        <label for="price">{{ "Precio" | translate }}</label>
        <input type="text" class="form-control" id="price" ng-disabled="!admin_mode" ng-model="product.price"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['price']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['ballots']}">
        <label for="amount">{{ "Importe sorteo" | translate }}</label>
        <input type="text" class="form-control" id="amount" ng-disabled="!admin_mode" ng-model="product.amount"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['amount']"></span>
      </div>
      <div class="form-group col-md-6  col-sm-6" >
        <label for="reserved">{{ "Porcentaje reserva" | translate }}</label>
        <input type="text" class="form-control" id="reserved" ng-disabled="!admin_mode" ng-model="product.reserved"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['reserved']"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6  col-sm-6" ng-class="{'has-error has-feedback': error['state']}">
        <label for="state">{{ "Estado sorteo" | translate }}</label>
        <input type="text" class="form-control" id="state" ng-disabled="!admin_mode" ng-model="product.state"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['state']"></span>
      </div>
    </div>
    
  </fieldset>
  <div class="alert alert-danger" ng-show="save_error">{{ save_error }}</div>
  <div class="alert alert-success" ng-show="save_ok">{{ "Datos guardados correctamente" || translate }}</div>
  <button type="submit" class="btn btn-warning" ng-click="back()">{{ "Volver" | translate }}</button>
  <button type="submit" class="btn btn-primary" >{{ "Guardar" | translate }}</button>
  <button type="button" class="btn btn-danger" ng-show="{{ false }}">{{ "Eliminar" | translate }}</button>
  <div class="clearfix"></div>
</div>


