<h1 class="translate"> {{ "Restablece tu contraseña" | translate }}</h1>


<div class="work-area">

  <form role="form">
    <h2 class="translate">{{ "Introduce el correo electrónico con el que te has registrado" || translate }}</h2>
    <div class="c2">
      <div class="form-group">
        <input type="text" class="form-control" id="user" placeholder='{{ "Introduzca email" | translate }}'>
      </div>
    </div>
    <span class="clear"></span>
    <button type="submit" class="btn btn-primary translate">{{ "Restablecer" | translate }}</button>
    <span class="clear"></span>
  </form>
</div>


