<h1 class="translate"> {{ "Mi cuenta" | translate }}</h1>


<div class="work-area">
  <ul class="nav nav-tabs" role="tablist" id="user-tab">
    <li class="active"><a href="user-data" class="translate">{{ "Datos personales" | translate }}</a></li>
    <li><a href="fiscal" class="translate">{{ "Datos economicos" | translate }}</a></li>
    <li><a href="lotto" class="translate">{{ "Sorteos" | translate }}</a></li>
    <li><a href="history" class="translate">{{ "Historial de pedidos" | translate }}</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="user-data">
      <form role="form">
       
        <h2 class="translate">{{ "Datos personales" || translate }}</h2>
        <div class="c2">
          <div class="form-group" ng-class="{'has-error has-feedback': error['repassword']}">
            <label for="name" class="translate">{{ "Nombre" | translate }}</label>
            <input type="text" class="form-control" id="name" placeholder='{{ "Introduzca nombre" | translate }}' ng-model="user.name"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['name']"></span>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['surname']}">
            <label for="surname" class="translate">{{ "Apellidos" | translate }}</label>
            <input type="text" class="form-control" id="surname" placeholder='{{ "Introduzca apellidos" | translate }}' ng-model="user.surname"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['surname']"></span>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['nif']}">
            <label for="nif" class="translate">{{ "NIF / CIF / Pasaporte" | translate }}</label>
            <input type="text" class="form-control" id="nif" placeholder='{{ "Introduzca documento" | translate }}' ng-model="user.nif"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['nif']"></span>
          </div>
        </div>
        <div class="c2">
          <div class="form-group" ng-class="{'has-error has-feedback': error['telephone']}">
            <label for="telephone" class="translate">{{ "Teléfono" | translate }}</label>
            <input type="text" class="form-control" id="telephone" placeholder='{{ "Introduzca teléfono" | translate }}' ng-model="user.telephone"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['telephone']"></span>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['email']}">
            <label for="email" class="translate">{{ "Email" | translate }}</label>
            <input type="text" class="form-control" id="email" placeholder='{{ "Introduzca email" | translate }}' ng-model="user.email"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['email']"></span>
          </div>
        </div>
        
        <h2 class="translatte">{{ "Dirección" | translate }}</h2>
        <div class="c2">
          <div class="form-group" ng-class="{'has-error has-feedback': error['email']}">
            <label for="address" class="translate">{{ "Dirección" | translate }}</label>
            <input type="text" class="form-control" id="address" placeholder='{{ "Introduzca dirección" | translate }}' ng-model="user.address"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['address']"></span>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['number']}">
            <div class="col-md-3 first">
              <label for="number" class="translate">{{ "Nº" | translate }}</label>
              <input type="text" class="form-control" id="number" ng-model="user.number"/>
            </div>
            <div class="col-md-3">
              <label for="stair" class="translate">{{ "Bloque/Esc." | translate }}</label>
              <input type="text" class="form-control" id="stair"/ ng-model="user.stair">
            </div>
            <div class="col-md-3">
              <label for="floor" class="translate">{{ "Piso" | translate }}</label>
              <input type="text" class="form-control" id="floor" ng-model="user.floor"/>
            </div>
            <div class="col-md-3 last">
              <label for="char" class="translate">{{ "Letra" | translate }}</label>
              <input type="text" class="form-control" id="letter" ng-model="user.letter"/>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['postal_code']}">
            <label for="postal_code" class="translate">{{ "Código postal" | translate }}</label>
            <input type="text" class="form-control" id="postal_code" placeholder='{{ "Introduzca código postal" | translate }}' ng-model="user.postal_code"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['postal_code']"></span>
          </div>
        </div>
        <div class="c2">
          <div class="form-group" ng-class="{'has-error has-feedback': error['country']}">
            <label for="country" class="translate">{{ "País" | translate }}</label>
            <input type="text" class="form-control" id="country" placeholder='{{ "Introduzca país" | translate }}' ng-model="user.country"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['country']"></span>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['province']}">
            <label for="province" class="translate">{{ "Provincia" | translate }}</label>
            <input type="text" class="form-control" id="province" placeholder='{{ "Introduzca provincia" | translate }}' ng-model="user.province"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['province']"></span>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': error['city']}">
            <label for="city" class="translate">{{ "Ciudad" | translate }}</label>
            <input type="text" class="form-control" id="city" placeholder='{{ "Introduzca ciudad" | translate }}' ng-model="user.city"/>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['city']"></span>
          </div>
        </div>
        <div class="form-group clear">
          <input type="checkbox" id="address_match" ng-model="address_match" /> <label for="address_match" class="translate"> {{ "Utilizar una dirección de envío distinta" | translate }} </label>
        </div>
        
        <div id="panel_address_shipping" ng-show="address_match">
          <h2 class="translatte">{{ "Dirección de envío" | translate }}</h2>
          <div class="c2">
            <div class="form-group" ng-class="{'has-error has-feedback': error['address_shipping']}">
              <label for="address_shipping" class="translate">{{ "Dirección" | translate }}</label>
              <input type="text" class="form-control" id="address_shipping" placeholder='{{ "Introduzca dirección" | translate }}' ng-model="user.address_shipping"/>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['address_shipping']"></span>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': error['number_shipping']}">
              <div class="col-md-3 first" 
                <label for="number_shipping" class="translate">{{ "Nº" | translate }}</label>
                <input type="text" class="form-control" id="number_shipping"  ng-model="user.number_shipping"/>
              </div>
              <div class="col-md-3">
                <label for="stair_shipping" class="translate">{{ "Bloque/Esc." | translate }}</label>
                <input type="text" class="form-control" id="stair_shipping" ng-model="user.stair_shipping"/>
              </div>
              <div class="col-md-3">
                <label for="floor_shipping" class="translate">{{ "Piso" | translate }}</label>
                <input type="text" class="form-control" id="floor_shipping" ng-model="user.floor_shipping"/>
              </div>
              <div class="col-md-3 last">
                <label for="letter_shipping" class="translate">{{ "Letra" | translate }}</label>
                <input type="text" class="form-control" id="letter_shipping" ng-model="user.letter_shipping"/>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': error['postal_code_shipping']}">
              <label for="postal_code_shipping" class="translate">{{ "Código postal" | translate }}</label>
              <input type="text" class="form-control" id="postal_code_shipping" placeholder='{{ "Introduzca código postal" | translate }}' ng-model="user.postal_code_shipping"/>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['postal_code_shipping']"></span>
            </div>
          </div>
          <div class="c2">
            <div class="form-group" ng-class="{'has-error has-feedback': error['country_shipping']}">
              <label for="country_shipping" class="translate">{{ "País" | translate }}</label>
              <input type="text" class="form-control" id="country_shipping" placeholder='{{ "Introduzca país" | translate }}' ng-model="user.country_shipping"/>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['country_shipping']"></span>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': error['province_shipping']}">
              <label for="province_shipping" class="translate">{{ "Provincia" | translate }}</label>
              <input type="text" class="form-control" id="province_shipping" placeholder='{{ "Introduzca provincia" | translate }}' ng-model="user.province_shipping"/>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['province_shipping']"></span>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': error['city_shipping']}">
              <label for="city_shipping" class="translate">{{ "Ciudad" | translate }}</label>
              <input type="text" class="form-control" id="city_shipping" placeholder='{{ "Introduzca ciudad" | translate }}'  ng-model="user.city_shipping"/>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="error['city_shipping']"></span>
            </div>
          </div>
        </div>
        <span class="clear"></span>
        <div class="alert alert-danger" ng-show="save_error">{{ save_error }}</div>
        <div class="alert alert-success" ng-show="save_ok">{{ "Datos guardados correctamente" || translate }}</div>
        <button type="submit" class="btn btn-primary translate" ng-click="saveUser(user)">{{ "Guardar" | translate }}</button>
        <button type="button" data-toggle="modal" data-target="#unsubscribe-modal" class="btn btn-danger translate">{{ "Darme de baja" | translate }}</button>
        <span class="clear"></span>
      </form>
    </div>
    
    <div class="tab-pane" id="fiscal">
      <h2 class="translate">{{ "Datos economicos" || translate }}</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "Concepto" | translate }}</th>
            <th>{{ "Fecha" | translate }}</th>
            <th>{{ "Importe" | translate }}</th>
            <th>{{ "Saldo" | translate }}</th>
          </tr>
        </thead>
        <tbody id="fiscal-body">
          
        </tbody>
      </table>
      <button type="button" data-toggle="modal" data-target="#deposite-modal" class="btn btn-warning translate">{{ "Ingresar fondos" | translate }}</button>
      <button type="button" data-toggle="modal" data-target="#retire-modal" class="btn btn-primary translate">{{ "Retirar fondos" | translate }}</button>
      <span class="clear"></span>
    </div>
    <div class="tab-pane" id="lotto">
      <h2 class="translate">{{ "Sorteos" || translate }}</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "Sorteo" | translate }}</th>
            <th>{{ "Equipo" | translate }}</th>
            <th>{{ "Fecha" | translate }}</th>
            <th class="text-center">{{ "Papeleta" | translate }}</th>
            <th></th>
            <th class="text-center">{{ "Resultado" | translate }}</th>
          </tr>
        </thead>
        <tbody id="lotto-body">
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="history">
      <h2 class="translate">{{ "Historial de pedidos" || translate }}</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "Referencia de Pedido" | translate }}</th>
            <th>{{ "Fecha" | translate }}</th>
            <th>{{ "Precio total" | translate }}</th>
            <th>{{ "Estado" | translate }}</th>
          </tr>
        </thead>
        <tbody id="order-body">
          
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<div class="modal fade" id="unsubscribe-modal" tabindex="-1" role="dialog" aria-labelledby="unsubscribe-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="unsubscribe-label"><span class="glyphicon glyphicon-question-sign"></span> {{ "¿Está seguro?" || translate }} </h4>
      </div>
      <div class="alert alert-danger" ng-show="unsuscribe_error">{{ unsuscribe_error }}</div>
      <div class="alert alert-success" ng-show="unsuscribe_ok">{{ "Su baja se ha realizado correctamente. Gracias." | translate }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> {{ "No" || translate }} </button>
        <button type="button" class="btn btn-primary" ng-click="unsuscribeUser()"> {{ "Si, quiero que se eliminen todos mis datos" || translate }} </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deposite-modal" tabindex="-1" role="dialog" aria-labelledby="retire-label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="retire-label"><span class="glyphicon glyphicon-transfer"></span> {{ "Ingresar fondos" || translate }} </h4>
      </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ "Pago" | translate }}</label>
                <div class="col-sm-8">
                  <label class="radio">
                    <input type="radio" name="method" id="method1" value="paypal"/> PayPal
                  </label>
                  <label class="radio">
                    <input type="radio" name="method" id="method2" value="credit_card"/> {{ "Tarjeta de credito" | translate }}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ "Importe" | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="amount" placeholder="Importe"/>
                </div>
              </div>
            </fieldset>
          </form>
		  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> {{ "Cancelar" || translate }} </button>
        <button type="button" class="btn btn-primary" id="btn_login"> {{ "Continuar" || translate }} </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="retire-modal" tabindex="-1" role="dialog" aria-labelledby="retire-label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="retire-label"><span class="glyphicon glyphicon-transfer"></span> {{ "Retirar fondos" || translate }} </h4>
      </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ "Saldo" | translate }}</label>
                <div class="col-sm-8">
                  <p class="form-control-static">200€</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ "Importe" | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="amount" placeholder="Importe"/>
                </div>
              </div>
            </fieldset>
          </form>
		  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> {{ "Cancelar" || translate }} </button>
        <button type="button" class="btn btn-primary" id="btn_login"> {{ "Continuar" || translate }} </button>
      </div>
    </div>
  </div>
</div>
